/* josefin-sans-300 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v15-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/josefin-sans-v15-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/josefin-sans-v15-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/josefin-sans-v15-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/josefin-sans-v15-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/josefin-sans-v15-latin-300.svg#JosefinSans") format("svg"); /* Legacy iOS */
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/josefin-sans-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/josefin-sans-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/josefin-sans-v15-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/josefin-sans-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/josefin-sans-v15-latin-regular.svg#JosefinSans")
      format("svg"); /* Legacy iOS */
}
/* josefin-sans-600 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/josefin-sans-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/josefin-sans-v15-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/josefin-sans-v15-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/josefin-sans-v15-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/josefin-sans-v15-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/josefin-sans-v15-latin-600.svg#JosefinSans") format("svg"); /* Legacy iOS */
}

$mobile: 375px;
$desktop: 1440px;

// ## Colors

// ### Primary

$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

// ### Neutral

$dark-grayish-red: hsl(0, 6%, 24%);

// ### Gradients

// - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

// ## Body Copy
$font-size: 16px;
