@use 'styles/vendors/bootstrap/bootstrap.scss' as *;
@use 'sass:color';

body {
  font-family: "Josefin Sans";
  font-size: $font-size;
  color: $dark-grayish-red;
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
  box-shadow: 0 0 0 0.1rem rgba($soft-red, 1);
  &:focus {
    box-shadow: 0 0 0 0.1rem rgba($soft-red, 1);
  }
}
.form-control {
  height: auto;
  background-color: transparent;
  padding: 0.65rem 1.5rem;
  border-color: color.scale($dark-grayish-red, $alpha: -80%);
  color: $dark-grayish-red;
  font-size: 0.85rem;

  &::placeholder {
    font-size: 0.88rem;
    color: rgba($desaturated-red, 0.5);
  }
}
.was-validated .form-control:valid {
  border-color: $soft-red;
  &:focus {
    border-color: $soft-red;
  }
}
.invalid-feedback {
  color: color.scale($soft-red, $saturation: -25%);
}
.invalid-icon.invalid-feedback {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0.7rem;
  right: 5rem;
}
.mb-4 {
  margin-bottom: 1.75rem !important;
}

.btn-primary-gradient {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0px 0.7rem 2rem -0.6em hsl(0, 36%, 70%);
}
.was-validated :invalid ~ .btn-primary-gradient {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
  box-shadow: 0px 0.7rem 1.5rem -0.2em hsl(0, 36%, 70%);
}

.text-dark-grayish-red {
  color: $dark-grayish-red;
}

.navbar {
  padding: 1.75rem 2rem;

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;

    img {
      width: 66%;
    }
  }
}

.main {
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  padding: 3.75rem 2rem;
  .main-title {
    letter-spacing: 0.75rem;
  }
  .main-text {
    font-size: 0.87rem;
  }
  .main-form {
    .btn-submit {
      width: 65px;
      line-height: 0;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.8rem 0.75rem;
      height: auto;
    }
  }
}

@include media-breakpoint-up(md) {
  .bg-hero {
    background-image: url("./src/images/hero-desktop.jpg");
    background-size: cover;
    background-position: center center;
  }
  .navbar {
    .navbar-brand {
      img {
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    margin-bottom: 6.5rem;
    .navbar-brand {
      img {
        width: 100%;
      }
    }
  }
  .main {
    position: relative;
    z-index: 1;
    .main-bg {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url("src/images/bg-pattern-desktop.svg");
      background-position: center center;
      background-size: cover;
    }
    padding: 3.75rem 4.25rem;
    height: 100%;
    .main-title {
      font-size: 4rem;
      letter-spacing: 1rem;
      line-height: 1.05;
    }
    .main-text {
      font-size: 1rem;
    }
    .main-form {
      .btn-submit {
        width: 100px;
        padding: 1.1rem 1.75rem;
      }
      .form-control {
        padding: 0.9rem 2rem;
      }
      .invalid-feedback {
        padding-left: 2rem;
        padding-top: 0.5rem;
      }
      .invalid-icon {
        padding-left: 0;
        padding-top: 0;
        width: 25px;
        height: 25px;
        right: 7.5rem;
        top: 0.9rem;
        margin-top: 0;
      }
    }
  }
  .form-control {
    padding: 0.9rem 1.5rem;
  }
}

@include media-breakpoint-up(xl) {
  .main {
    padding: 1.75rem 7.25rem;
  }
}

@media (min-width: 1300px) {
  .main {
    padding: 1.75rem 10.25rem;
  }
}
